[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
django = "==3.0.8"
django-cors-headers = "*"
djangorestframework = "*"
gunicorn = "*"
django-environ = "*"
django-heroku = "*"

[requires]
python_version = "3.6"
